
@{
    ViewBag.Title = "Development";
}

<h2>@ViewBag.tempMessage</h2>

<form id="form1" method="post">
	
    
	Comments <input type="text" name="taReachout" id="taReachout" />
	Email id<input type="text" name="emailid" id="emailid" />
	SSN: <input type="text" id="txtSSn" name="txtSSn"/>
	<input type="submit" value="Submit"/>
</form>
	